.connexion {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        &__input {
            padding: 0.5em;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
    &__cta {
        width: max-content;
    }
}
@media (min-width: 768px) {
    .connexion {
        width: 50%;
        margin: 10dvh;
    }
}
