.project {
    padding: 50px 20px;
}

.project {
    &__infos {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 2em;
    }
}

.btns {
    display: flex;
    gap: 1em;
    justify-content: center;

    text-align: center;
    &__like,
    &__dislike {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}
