.card {
    width: 100%;
    margin-bottom: 1em;

    &__image {
        max-width: 100%;
        object-fit: cover;
        border-radius: vars.$card__borderRadius;
        margin-bottom: 1em;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__tag {
        color: vars.$tag__color;
        text-transform: uppercase;
    }
}
