.card {
    width: 100%;
    margin-bottom: 1em;
    cursor: pointer;
    &__image {
        overflow: hidden;
        border-radius: 24px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        & img {
            width: 100%;

            object-fit: cover; /* l'image remplit tout le conteneur */
            object-position: center;
            transition: all 0.4s ease-in-out;
            &:hover {
                scale: 1.1;
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__paragraph {
        color: vars.$tag__color;
        text-transform: uppercase;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3; /* Limite à 3 lignes */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.btns {
    display: flex;
    gap: 1em;
    &__modify,
    &__delete {
        padding: 1em 2em;
    }
}
