.modal {
    height: 60dvh;
    border: none;
    width: 97%;

    @include mixins.border-radius(24px);
    &__close {
        text-align: right;
        cursor: pointer;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        height: 100%;
        display: grid;
        grid-template-rows: 20% 80%;
    }
    &::backdrop {
        background: rgba(0, 0, 0, 0.8);
    }
}

.modal__form {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    &__btns {
        display: flex;
        align-items: center;
        gap: 1em;
    }
    &__save,
    &__cancel,
    &__create {
        @include mixins.border-radius(20px);
        padding: 1em 2em;
        transition: all 0.4s ease-in-out;
        height: max-content;
        width: max-content;
    }
    &__save,
    &__create {
        background: vars.$text-white;
        color: vars.$text-black;
        &:hover {
            background: vars.$green--sucess;
            color: vars.$text-white;
        }
    }
    &__create {
        &:hover {
            background: blue;
            color: vars.$text-white;
        }
    }
    &__cancel {
        background: vars.$text-black;
        color: vars.$text-white;
        &:hover {
            background: vars.$red--danger;
            color: vars.$text-black;
        }
    }
    &__input,
    &__textarea {
        @include mixins.border-radius(4px);
    }
    &__input {
        padding: 0.5rem 0.5em;
        font-weight: bold;
        font-size: 2em;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }
    &__textarea {
        border: 1px solid vars.$border__input;
        padding: 1em;
        font-family: "Plus Jakarta Sans", serif;
        font-size: 1rem;
        margin-bottom: 1.2rem;
        &:focus {
            outline: none;
        }
    }
}

.edit {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    &__btns {
        @include mixins.flex__center;
    }
}

@media (min-width: 768px) {
    .modal {
        width: 70%;
        height: 90dvh;
    }
}
