@mixin full__percentage {
    width: 100%;
    height: 100%;
}
@mixin full__vp {
    width: 100dvw;
    height: 100dvh;
}
@mixin flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex__center__c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin grid__center {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

@mixin grid__center__c__50 {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 50% 50%;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($property, $duration: 0.3s, $ease: ease) {
    transition: $property $duration $ease;
}
