/**** colors *****/
$bg--dark: #1c1c1c;
$bg__footer--light: #f7f7f7;
$text-hover: #ef5d39;
$text-white: #fffafa;
$text-black: #0000;

/***** card *******/
$card__borderRadius: 24px;
$card__title: $card__borderRadius;
$tag__color: hsl(0, 0%, 46%);
